<!-- Cart -->
<div class="container" id="cartContainer">
    <i id="close" class="fa-sharp fa-solid fa-xmark fa-4x" (click)="CloseDiv()"></i>
    <div id="buyDiv">
        <i class="fa-sharp fa-solid fa-cart-arrow-down fa-3x" id="cartIco"></i>
        <input [(ngModel)]="pieceOfProduct_1" type="number" name="res" id="res" placeholder="1" min="1" max="20">
        <button type="button" class="btn" id="btn" (click)="Rotate()">Confirm</button><br>

        <h3>Piece of product(s): <span style="margin-left: 30px;">{{pieceOfProduct_1}}</span></h3>
      
    </div>
</div>


<!-- Main H1-->
<div id="main">
    <h1 id="h1Main">Tour Company</h1>
</div>


<!-- Cards -->
<div class="container-cards">
    <div id="card1" class="card1" *ngFor="let i of ToursData">
        <div id="card">
            <img id="img" src='{{i.img}}' alt="{{i.country}}">
            <div class="text">
                <h4><b>{{i.country}}</b></h4>
                <p>{{i.text}}</p>
                <button type="button" class="btn" id="btn" (click)="Rotate()">More about</button><br>
                <button type="button" id="btnBuy" (click)="ShowCartDiv()">Buy</button>
            </div>
        </div>