<div id="main">
<h1 id="h1Main">Tour Company</h1>
</div>
<div class="container-cards">
    <div id="card1" class="card1" *ngFor="let i of ToursData">
        <div id="card">
            <img id="img" src='{{i.img}}' alt="{{i.country}}">
            <div class="text">
                <h4><b>{{i.country}}</b></h4>
                <p>{{i.text}}</p>
                <button type="button" class="btn" id="btn"  (click)="Rotate()">More about</button><br>
                <button type="button" id="minusBtn">-</button>
                <i class="fa-solid fa-cart-plus cartIcon"></i>
                <button type="button" id="plusBtn">+</button>
                <input type="number" name="feld" id="feld" placeholder="0" min="0" max="50">
                <button type="button" id="btnBuy">Buy</button>
    </div>
</div>

