<!-- Shop Cart pop-up -->
<div class="container" id="cartContainer">
    <i id="close" class="fa-sharp fa-solid fa-xmark fa-4x" (click)="CloseDiv()"></i>
    <div id="buyDiv">
        <i class="fa-sharp fa-solid fa-cart-arrow-down fa-3x" id="cartIco"></i>
        <input [(ngModel)]="pieceOfProduct_1" type="number" name="res" id="res" placeholder="0" min="1" max="20">
        <button type="button" class="btn" id="btn" (click)="Rotate()">Confirm</button><br>
        <p id="P_addInfo"><span id="addInfoSpan">Additional info:</span> First of all choose the number of PC(s) then
            click on the choosen price/flight/target feld for the price summary</p>
        <h3>Person(s): <span style="margin-left: 30px;">{{pieceOfProduct_1}} PC(s)</span></h3><br>
        <h3 id="h33"></h3>
        <div id="hrCart">
            <hr>
        </div>
        <table>
            <thead>
                <th colspan="4">Click on the choosen flight & price</th>
            </thead>
            <tbody *ngFor="let x of Product">
                <tr>
                    <td class="td_1">Flight to {{x.country}}</td>

                    <td (click)="flight1_e()" class="tdRest">Price pro person with <span
                            class="coFlight">{{x.flight[0]}}</span> <span id="0"
                            class="spanPrice">{{x.priceProFlight[0]}}</span></td>

                    <td (click)="flight2_e()" class="tdRest">Price pro person with <span
                            class="coFlight">{{x.flight[1]}}</span><span id="1"
                            class="spanPrice">{{x.priceProFlight[1]}}</span></td>

                    <td (click)="flight3_e()" class="tdRest">Price pro person with <span
                            class="coFlight">{{x.flight[2]}}</span><span id="2"
                            class="spanPrice">{{x.priceProFlight[2]}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- details Cart pop-up -->
<div class="container_2" id="container_2">
    <div class="detailsContainer">
        <div>
            <i id="close_1" class="fa-sharp fa-solid fa-xmark fa-4x" (click)="CloseDiv_1()"></i><br>
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque accusamus cum neque vitae odio
                temporibus impedit autem assumenda quas doloribus, incidunt obcaecati, doloremque eum officia quod
                non maiores debitis quia.Assumenda dolor, non voluptates est deleniti excepturi odio,
                saepe repellat facere deserunt voluptatibus ipsam porro tempora, architecto doloremque dicta
                corporis! Facere id exercitationem provident consectetur rem eius omnis debitis
                aspernatur?<span  class="fontColor">quasi illum</span>, omnis nam facilis reprehenderit placeat consectetur aut
                nesciunt doloribus! Officia fuga saepe corporis voluptatum repellendus voluptates a? Consectetur, ut
                ratione dignissimos reiciendis mollitia vero magni placeat laborum suscipit?Eos
                possimus distinctio nobis earum corrupti aliquam cupiditate optio ut dolores ipsum facilis harum
                voluptate quia accusantium quo reiciendis maiores aperiam iusto vel, rem eaque obcaecati laborum.
                Ipsum, voluptatibus. <span class="fontColor">Temporibus</span>.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quasi ex ad deserunt sunt illo fuga
                quos, eos dolorum officia provident est sequi repudiandae natus quo inventore, molestiae laudantium
                aspernatur!Minima quibusdam enim commodi tenetur doloribus iste neque dicta voluptatum
                eaque inventore placeat doloremque, libero error, accusantium facilis laudantium nisi autem
                architecto molestiae voluptatem sunt totam. Laboriosam vel ipsa soluta.</p>

        </div>
    </div>

</div>

<!-- Main H1-->
<div id="main">
    <h1 id="h1Main">Tour Company</h1>
</div>


<!-- Cards -->
<div class="container-fluid">
    <div class="container-cards">
        <div id="card1" class="card1" *ngFor="let i of ToursData">
            <div id="card">
                <img id="img" src='{{i.img}}' alt="{{i.country}}">
                <div class="text">
                    <h4><b>{{i.country}}</b></h4>
                    <p>{{i.text}}</p>
                    <button type="button" class="btn" id="btn_2" (click)="ShowCartDiv_1()">More about</button><br>
                    <button type="button" id="btnBuy" (click)="ShowCartDiv()">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer-->
<footer>
    <p>Tour Company&copy;</p>
    <p id="datum">{{datum | date:"short"}}</p>
</footer>