 /*---------------- Font StyleLink mainH1---------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

 /*---------------- Font StyleLink main > H4---------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
 /*---------------- Font StyleLink #cartContainer > p ---------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');



 /*-------------Color----------------------*/
 :root {
     --color-primary: #f0ece2;
     --color-primary_2: #dfd3c3;
     --color-primary_3: #c7b198;
     --color-primary_4: #596e79;
     --color-white: #ffff;



 }


 /*-----------------------  MAIN cards  container --------------------------*/

 .container-cards {
     display: flexbox;
     max-width: 1200px;
     padding-top: 30px;
     margin: 0px auto;
     text-align: center;
     background-image: url('../../assets/Abstract-background-white-12.jpg');
 }

 .card1 {
     width: 300px;
     height: 420px;
     display: inline-block;
     margin: 20px;
     border-style: solid;
     border-width: 0.8pt;
     outline: var(--color-primary_3) inset 4px;
     box-shadow: 10px 10px 8px var(--color-primary_4);

 }


 .text>h4 {
     font-size: 2rem;
     font-family: 'Shadows Into Light', cursive;
     padding-top: 1rem;
     padding-bottom: 1rem;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 3pt;
     text-shadow: 5px 5px 5px rgb(104, 104, 115);
 }

 .text {
     width: 100%;
     object-fit: contain;
     justify-content: end;
 }

 .text>p {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;



 }

 #img {
     object-fit: cover;
     width: 100%;
     max-height: 170px;
 }

 .btn {
     margin: 20px;
     width: 150px;
     height: 50px;
     border-radius: 10px;
     border-style: none;
     color: var(--color-white);
     background: linear-gradient(180deg, var(--color-primary_4), var(--color-primary_3));
     font-weight: 600;
     font-size: 1.3rem;
     opacity: 0.8;
     transition: width 0.7s ease-in-out;
     cursor: help;
 }

 .btn:hover {
     width: 250px;
     border-style: solid;
     background: black;
     transition: 0.7s ease-in-out;
     border-width: 1.5pt;
     border-radius: 20px;

 }

 .buttonActive {
     transform: rotateY(360deg);


 }



 /*------------------------------- hover: animation -------------------------------------*/
 #card1:hover {
     animation: card1 0.3s linear;

 }

 @keyframes card1 {

     0%,
     7% {
         transform: rotateZ(0);
     }

     15% {
         transform: rotateZ(-15deg);
     }

     20% {
         transform: rotateZ(10deg);
     }

     25% {
         transform: rotateZ(-10deg);
     }

     30% {
         transform: rotateZ(6deg);
     }

     35% {
         transform: rotateZ(-4deg);
     }

     40%,
     100% {
         transform: rotateZ(0deg);
     }
 }

 /*---------------------- Background IMG main + text ---------------------------*/

 #main {
     width: 100%;
     height: 720px;
     background-size: cover;
     background-image: url(../../assets/200512103822-maldives-bungalow-aerial.jpg);
     display: flex;
     object-fit: cover;
 }

 #h1Main {
     display: flex;
     flex-direction: row;
     font-size: 10vw;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15rem;
     color: var(--color-white);
     font-family: 'Babylonica', cursive;
     letter-spacing: 3pt;
     text-shadow: 8px 8px 8px rgb(49, 49, 51);
 }



 #btnBuy {
     background-color: #42b883;
     width: 80px;
     height: 40px;
     border-radius: 10px;
     border-style: none;
     color: var(--color-white);
     letter-spacing: 0.4pt;
     font-size: 1.4rem;
     font-weight: 700;
     font-family: Arial, Helvetica, sans-serif;
     cursor: grab;

 }

 #btnBuy:hover {
     background-color: var(--color-white);
     color: rgb(11, 239, 87);
     border-style: solid;
     border-width: 0.5pt;
     transition: color 1s ease-in-out;
 }

 /*-------------------Cart --------------------------*/
 #cartContainer {
     box-sizing: border-box;
     width: 100%;
     height: 80%;
     margin-top: 5%;
     margin-left: auto;
     margin-right: auto;
     background-color: rgb(181, 175, 175);
     position: fixed;
     color: var(--color-white);
     z-index: +5;
     padding: 10px;
     overflow-y: scroll;
     display: none;

 }

 .container-cards p {
     font-family: 'Cinzel', serif;
     font-size: 8pt;
     font-weight: 700;
     box-sizing: border-box;
 }


 #cartIco {
     margin-right: 60px;
 }

 #buyDiv {

     padding: 60px;
 }

 #hrCart {
     margin-top: 20px;
 }

 #res {
     width: 50px;
     height: 20px;
     margin-left: 5px;
     border-width: 2pt;
     border-radius: 5px;
     margin-left: 15px;
 }

 /*----------------------------- Price / Flight table -----------------*/
 table {
     color: var(--color-white);
     margin-top: 10px;
     padding: 5px;
     font-family: 'Cinzel', serif;
 }

 .td_1 {
     color: #000000;
     padding: 5px;
     text-align: center;
     font-weight: 600;

 }

 .tdRest {
     border-style: solid;
     border-width: 1pt;
     border-radius: 5px;
     padding: 4px;
 }

 .tdRest:hover {
     background-color: var(--color-primary_4);
     cursor: pointer;
     color: var(--color-white);
 }

 .tdRest:hover .spanPrice {
     cursor: pointer;
     color: var(--color-white);
 }

 .tdRest:hover .coFlight {
     cursor: pointer;
     color: var(--color-white);
 }

 th {
     font-size: 1.5rem;
     color: var(--color-primary_4);
 }

 .spanPrice {
     color: #b75656;
     font-weight: 800;
 }

 .coFlight {
     color: rgb(0, 0, 0);
     margin-right: 8px;
 }

 /*------------------- Add info P + Span-----------------*/
 #P_addInfo {
     margin: 10px 0px;
     color: rgb(103, 97, 97);

 }

 #addInfoSpan {
     font-weight: 700;
     color: #647680;
 }

 /*-----------------  details container pop-up ------------------*/
 .container_2 {
     position: fixed;
     box-sizing: border-box;

     width: 80%;
     height: 80%;
     margin-top: 3%;
     margin-left: 10%;
     z-index: +1;
     background: linear-gradient(45deg, rgb(225, 221, 219), rgb(125, 123, 123), rgb(163, 142, 142), rgb(120, 110, 110), rgb(174, 168, 168), rgb(202, 196, 196));
     background-repeat: repeat-x;
     border-radius: 15px;
     padding: 30px;
     justify-content: start;
     /*display: none;*/
     overflow-y: scroll;
 }

 .imgDetails {
     max-width: 200px;
     max-height: 200px;

 }

 #close_1 {
     clear: right;
 }

 .row {
     padding: 10px;
 }

 .p {
     text-indent: 15px;
     margin-left: 10px;
     margin-bottom: 20px;
     font-family: 'PT Serif', serif;
     font-size: 0.9rem;
     margin-top: 20px;
     letter-spacing: 0.5pt;
     color: #5c3f3f;
 }

 .h2 {
     margin: 20px;
     text-align: center;
     font-size: 3rem;
     color: #3d3e3f;
     font-style: italic;
 }

 .p::first-letter {
     font-size: 1.7rem;
     margin-right: 2px;
     font-weight: 600;
 }

 .col-6 {
     max-width: 50%;
     display: inline-block;
 }

 #imgPopUp1 {
     max-width: 300px;
     float: right;
     margin: 10px;
     border-radius: 10px;
     box-shadow: 2px 2px 6px #e9d9af;
     animation-name: kep;
     animation-duration: 2s;
     animation-delay: 1s;
     animation-fill-mode: both;

 }

 @keyframes kep {
     25% {
         transform: rotateZ(5deg);
         margin-right: 20px;
     }

     35% {
         transform: rotateZ(-10deg);
     }

     45% {
         transform: rotateZ(20deg);
     }

     55% {
         max-width: 380px;
     }

     75% {
         transform: rotateX(360deg);
     }

     100% {
         transform: rotateZ(0);
         max-width: 300px;
         margin-left: 20px;
         
     }
 }

 .aside {
     float: right;
     max-width: 45%;
 }

 #table {
     margin-top: 50px;
     border-left: 5px solid #3d3e3f;

 }

 .th {
     font-size: 1.1rem;
     background-color: #9fa3a7;
     padding: 5px;
 }

 .td {
     padding: 5px;
     font-size: 1rem;
     color: #433c3c;
     font-family: 'Shadows Into Light', cursive;
     letter-spacing: 0.5pt;
     font-weight: 600;

 }

 @media screen and (max-width:829px) {
     .col-6 {
         max-width: 100%;
     }

     .aside {
         float: right;
         max-width: 100%;
     }

     #table {
         margin-top: 0px;
     }
 }

 /*--------------------footer --------------------*/

 footer {
     height: 4rem;
     width: 100%;
     background-color: var(--color-primary_3);
     position: absolute;
     display: flex;
     justify-content: space-around;
     align-items: center;
     z-index: +1;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 700;
     letter-spacing: 2pt;
     margin-top: 2rem;
 }