 /*---------------- Font StyleLink mainH1---------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

 /*---------------- Font StyleLink main > H4---------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
 /*---------------- Font StyleLink #cartContainer > p ---------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



 body {
     background-image: url(/assets/Abstract-background-white-12.jpg);
     object-fit: cover;
     width: 100%;
     height: 100%;
 }

 /*-------------Color----------------------*/
 :root {
     --color-primary: #f0ece2;
     --color-primary_2: #dfd3c3;
     --color-primary_3: #c7b198;
     --color-primary_4: #596e79;
     --color-white: #ffff;



 }

 /*----------------------- MAIN cards container --------------------------*/
 .container-cards {
     display:flexbox;
     max-width: 1200px;
     margin: 60px auto 70px;
     text-align: center;
 }

 .card1 {
     width: 300px;
     height: 420px;
     display: inline-block;
     margin: 20px;
     border-style: solid;
     border-width: 0.5pt;
 }


 .text>h4 {
     font-size: 2rem;
     font-family: 'Shadows Into Light', cursive;
     padding-top: 1rem;
     padding-bottom: 1rem;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 3pt;
     text-shadow: 5px 5px 5px rgb(104, 104, 115);
 }

 .text {
     width: 100%;
     object-fit: contain;
     justify-content: end;
 }

 .text>p {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;



 }

 #img {
     object-fit: cover;
     width: 100%;
     max-height: 170px;
 }

 .btn {
     margin: 20px;
     width: 150px;
     height: 50px;
     border-radius: 10px;
     border-style: none;
     color: var(--color-white);
     background: linear-gradient(180deg, var(--color-primary_4), var(--color-primary_3));
     font-weight: 600;
     font-size: 1.3rem;
     opacity: 0.8;
     transition: width 0.7s ease-in-out;
     cursor: help;
 }

 .btn:hover {
     width: 250px;
     border-style: solid;
     background: black;
     transition: 0.7s ease-in-out;
     border-width: 1.5pt;
     border-radius: 20px;

 }

 .buttonActive {
     transform: rotateY(360deg);


 }



 /*------------------------------- hover: animation -------------------------------------*/
 #card1:hover {
     animation: card1 0.3s linear;

 }

 @keyframes card1 {

     0%,
     7% {
         transform: rotateZ(0);
     }

     15% {
         transform: rotateZ(-15deg);
     }

     20% {
         transform: rotateZ(10deg);
     }

     25% {
         transform: rotateZ(-10deg);
     }

     30% {
         transform: rotateZ(6deg);
     }

     35% {
         transform: rotateZ(-4deg);
     }

     40%,
     100% {
         transform: rotateZ(0deg);
     }
 }

 /*---------------------- Background IMG main + text ---------------------------*/

 #main {
     width: 100%;
     height: 720px;
     background-size: cover;
     background-image: url(../../assets/200512103822-maldives-bungalow-aerial.jpg);
     display: flex;
     object-fit: cover;
 }

 #h1Main {
     display: flex;
     flex-direction: row;
     font-size: 10vw;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15rem;
     color: var(--color-white);
     font-family: 'Babylonica', cursive;
     letter-spacing: 3pt;
     text-shadow: 8px 8px 8px rgb(49, 49, 51);
 }



 #btnBuy {
     background-color: #42b883;
     width: 80px;
     height: 40px;
     border-radius: 10px;
     border-style: none;
     color: var(--color-white);
     letter-spacing: 0.4pt;
     font-size: 1.4rem;
     font-weight: 700;
     font-family: Arial, Helvetica, sans-serif;
     cursor: grab;

 }

 #btnBuy:hover {
     background-color: var(--color-white);
     color: rgb(11, 239, 87);
     border-style: solid;
     border-width: 0.5pt;
     transition: color 1s ease-in-out;
 }

 /*-------------------Cart --------------------------*/
 #cartContainer {
     width: 100%;
     height: 80%;
     margin-top: 5%;
     margin-left: auto;
     margin-right: auto;
     background-color: rgb(181, 175, 175);
     position: fixed;
     color: var(--color-white);
     z-index: +5;
     padding: 10px;
     overflow-y: scroll;


 }

 .container-cards p {
     font-family: 'Cinzel', serif;
     font-size: 8pt;
     font-weight: 700;
 }


 #cartIco {
     margin-right: 60px;
 }

 #buyDiv {

     padding: 60px;
 }

 #hrCart {
     margin-top: 20px;
 }

 #res {
     width: 50px;
     height: 20px;
     margin-left: 5px;
     border-width: 2pt;
     border-radius: 5px;
     margin-left: 15px;
 }

 table {
     color: var(--color-white);
     margin-top: 10px;
     padding: 5px;
     font-family: 'Cinzel', serif;
 }

 .td_1 {
     color: #000000;
     padding: 5px;
     text-align: center;
     font-weight: 600;

 }

 .tdRest {
     border-style: solid;
     border-width: 1pt;
     border-radius: 5px;
     padding: 4px;
 }

 .tdRest:hover {
     background-color: var(--color-primary_4);
     cursor: pointer;
     color: var(--color-white);
 }

 .tdRest:hover .spanPrice {
     cursor: pointer;
     color: var(--color-white);
 }

 .tdRest:hover .coFlight {
     cursor: pointer;
     color: var(--color-white);
 }

 th {
     font-size: 1.5rem;
     color: var(--color-primary_4);
 }

 .spanPrice {
     color: #b75656;
     font-weight: 800;
 }

 .coFlight {
     color: rgb(0, 0, 0);
     margin-right: 8px;
 }