<div class="holder">
    <form class="form" action="registration.php" method="post">
        <label for="Fname">First name:</label><br>
        <input type="text" name="Fname" id="Fname"><br>
        <label for="Lname">Last name:</label><br>
        <input type="text" name="Lname" id="Lname"><br>
        <label for="email">E-mail:</label><br>
        <input type="email" name="email" id="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" id="password"><br>
        <label for="password_again">Password again:</label><br>
        <input type="password" name="password_again" id="password_again"><br><br>
        <input type="submit" value="Registration">
    </form>
    <hr>
    <h3>Please carefully fill out this form contains the following:</h3>
    <ul>

        <li><span>First name and last name required!</span></li>


        <li><span> E-mail in correct format!</span></li>

        <li><span>Passwords must be the same, and min. 5 char and 2 number!</span></li>

    </ul>

</div>