* {
    font-family: sans-serif;
}
.container-fluid{
    background-image: linear-gradient(to right, rgb(242, 232, 232), rgb(192, 174, 174), grey, rgb(227, 99, 99));

}
input {
    margin: 5px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border-color: rgb(238, 169, 65);



}

input:focus {
    width: 260px;
    height: 30px;
    background-color: rgb(198, 196, 192);
    
}

input::placeholder {
    color: rgb(159, 109, 63);
}
i{
    margin: 5px;
}
li {
    list-style-image: url('../../assets/listStyleType.jpg');
    margin: 30px;

}
#btnReg, #btnSign{
    width: 130px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(34, 34, 204, 0.779);
    height: 35px;
    color: white;
    border-style: none;
    font-size: 1.2rem;
    
}
#btnReg:hover , #btnSign:hover{
    opacity: 0.8;
    background-color: rgb(63, 61, 61);
    width: 150px;
    transition: width 0.4s ease-in-out;
}

li::first-letter {
    color: rgba(185, 71, 15, 0.893);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2pt;
}

span {
    top: -20px;
    position: relative;

}

ul {
    margin-top: 40px;

}

.holder {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    height: 700px;
    background-color: bisque;
    box-shadow: 10px 0px 20px burlywood, -10px 0px 20px burlywood;
    
}

.form {
    margin-top: 3rem;
    padding-left: 60px;
}

hr {
    width: 50%;

}