<div class="holder">
    <form class="form" action="registration.php" method="post">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="Fname" id="Fname" minlength="1" placeholder="First Name:"><br>
        <i class="fa-solid fa-user"></i>
        <input type="text" name="Lname" id="Lname" minlength="1" placeholder="Family Name:"><br>
        <i class="fa-solid fa-envelope"></i>
        <input type="email" name="email" id="email" placeholder="E-mail:"><br><br>
        <i class="fa-solid fa-key"></i>
        <input type="password" name="password" id="password" placeholder="Password:"><br>
        <i class="fa-solid fa-key"></i>
        <input type="password" name="password_again" id="password_again" placeholder="Password again:"><br><br>
        <button type="submit" id="btnReg">Registration</button>
        <button type="submit" id='btnSign'>Sign In</button>
    </form>
    <hr>
    <h3>Please carefully fill out this form contains the following:</h3>
    <ul>
        <li>
            <span>First name and last name required!</span>
        </li>
        <li>
            <span> E-mail in correct format!</span>
        </li>
        <li>
            <span>Passwords must be the same, and min. 5 char and 2 number!</span>
        </li>
    </ul>
</div>