* {
    font-family: sans-serif;
}

.container-fluid {
    background-image: url('../../assets/Abstract-background-white-12.jpg');
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
    letter-spacing: 1pt;
    font-family: cursive;
    color: rgb(122, 126, 130);
    margin-bottom: 30px;
    text-shadow: 0.5px 0.5px rgb(90, 89, 89);
}

input {
    margin: 5px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border-color: rgb(238, 169, 65);

}

input:focus {
    width: 260px;
    height: 30px;
    background-color: rgb(255, 252, 156);
    font-weight: 700;
}

input::placeholder {
    color: rgb(159, 109, 63);
}

i {
    margin: 5px;
}

.eye {

    position: absolute;
    margin-left: 238px;
    margin-top: 10px;
    width: 20px;
    opacity: 0.6;
}

li {
    list-style-image: url('../../assets/check.png');
    color: rgb(122, 126, 130);
    margin: 30px;
    font-size: 0.8rem;
}

.hr {
    margin: 30px;
}

hr {
    border: 0.2px solid black;
    border-bottom: none;
}

#btnReg,
#btnSign {
    width: 130px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgba(113, 113, 118, 0.779);
    height: 35px;
    color: white;
    border-style: none;
    font-size: 1.2rem;

}

#btnReg:hover,
#btnSign:hover {
    opacity: 0.8;
    background-color: rgb(248, 243, 243);
    color: blue;
    width: 140px;
    border-style: solid;
    transition: width 0.4s ease-in-out;
}

li::first-letter {
    color: rgba(185, 71, 15, 0.893);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2pt;
    margin-left: 4px;
}

li {
    font-weight: 800;
}

span {
    top: -20px;
    position: relative;

}

ul {
    margin-top: 40px;


}

.holder {
    max-width: 400px;
    margin: 0px auto;
    padding: 40px;
    height: 700px;
    background-color: rgb(202, 198, 193);
    box-shadow: 10px 0px 20px rgb(152, 137, 117), -10px 0px 20px rgb(152, 137, 117);

}

.form {
    margin-top: 3rem;
    margin: 0px auto;
    text-align: center;
}

hr {
    width: 100%;

}

h3 {
    color: rgb(211, 134, 32);
    text-shadow: 0.5px 0.5px rgb(90, 89, 89);
}

#smallEmail {
    color: red;
    font-size: 0.7rem;
}

/*---------------------- OK div pop-up, purchase succeed----------------------*/
#OK {
    width: 300px;
    transform: translateY(-28rem);

    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgb(89, 184, 89);
    z-index: +4;
    box-shadow: 3px 3px 5px green;
    border-radius: 15px;
    border-left: 10px solid black;
    animation-name: ok;
    animation-duration: 2s;


}

@keyframes ok {
    from {
        width: 500px;
        transform: ease-in out;
    }

    to {
        width: 0;
        height: 0;
    }
}

#OK>p {
    font-size: 3rem;
    color: rgb(241, 246, 241);
    position: relative;
    margin-top: 11rem;
    display: block;
    font-weight: 600;
    text-shadow: 4px 3px rgb(205, 103, 103);
}

#imgOK {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    position: absolute;
}


/*--------------------footer --------------------*/

footer {
    height: 4rem;
    width: 100%;
    background-color: var(--color-primary_3);
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: +1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 2pt;
}

/*-------------  responsive for iPhone SE or smaller --------------*/
@media screen and (max-width: 400px) {

    .holder {
        height: 100vh;
        box-shadow: none;
    }
}