<div class="container" id="navbarContainer">
  <i (click)="EaseInOut()" class='fa-solid fa-bars fa-xl' id="burgerMenu"></i>
  <nav id="nav">
    <ul>
      <li>
        <a routerLink="homepage"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li>
        <a routerLink="registration"><i class="fa-solid fa-address-book"></i>Registration</a>
      </li>
      <li>
        <a routerLink="contact"><i class="fa-solid fa-phone-volume"></i>Contact</a>
      </li>
    </ul>
  </nav>
</div>


<footer>
  <p>Tour Company&copy;</p>
  <p id="datum">{{datum | date:"short"}}</p>
</footer>


<router-outlet></router-outlet>