/*  CSS RESET */
* {
  margin: 0;
  scroll-behavior: smooth;
}


/*-------------Color----------------------*/
:root {
  --color-primary: #f0ece2;
  --color-primary_2: #dfd3c3;
  --color-primary_3: #c7b198;
  --color-primary_4: #596e79;
  --color-white: #ffff;
}

/*---------------Navbar--------------------------------------*/
#navbarContainer {
  height: 100%;
  position: fixed;
  z-index: +2;
}

#burgerMenu {
  position: absolute;
  color: rgb(121, 55, 1);
}


nav {
  position: absolute;
  background: var(--color-primary_4);
  transition: transform 350ms ease-in-out;
  box-shadow: 2px 2px 4px var(--color-primary_3);
  transform: translateX(-20rem);
  visibility: hidden;
  
}

.menu-active {
  display: block;
  transform: translateX(0rem);
  visibility: visible;
 
}

#burgerMenu {
  margin-top: 2rem;
  margin-left: 1.5rem;
  z-index: +2;
  position: absolute;
  cursor: pointer;
}

nav>ul {
  list-style-type: none;
  margin-top: 1rem; padding: 50px;
}

nav>ul>li>a {

  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--color-primary_2);
  display: inline-block;
}

nav>ul>li>a:hover {
  color: var(--color-white);
}

nav>ul>li>a>i {
  margin-right: 10px;
  cursor: pointer;
}

/*--------------------footer --------------------*/

footer {
  height: 4rem;
  width: 100%;
  background-color: var(--color-primary_3);
  position:absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: +1;
  margin-top: 110rem !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 2pt;


}

#datum {
  font-size: 0.7rem;
}


@media screen and (max-width:1046px){
  footer{
    margin-top: 140rem !important;
  }
}
@media screen and (max-width:685px){
  footer{
    margin-top: 230rem !important;
  }
}